
.dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f5f5f5;
}

td {
    max-width: 200px; /* 设置最大宽度为200像素 */
    overflow: hidden; /* 超出部分隐藏 */
    text-overflow: ellipsis; /* 超出部分用省略号表示 */
    white-space: nowrap; /* 不换行 */
}

#tip {
    position: fixed;
    right: 0;
    top: 0;
    padding: 10px;
    background-color: #f9ed69;
    border: 1px solid #f08a5d;
    color: #b83b5e;
    font-size: 14px;
}
#toggleArrow {
    cursor: pointer;
    position: absolute;
    left: -30px; /* Adjust as needed to place the arrow outside the tip box */
    top: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #f9ed69;
    border: 1px solid #f08a5d;
    user-select: none;
}

/* for the top line */
nav {
    position: fixed;
    top: 0;
    font-size: 1.07vw;
    z-index: 990;
    height: 4.26vw;
    line-height: 1.07vw;
}
nav a {
    text-decoration: none;
    color: #fff;
}
nav .right_bar {
	position: fixed;
	right: 0%;
	text-align: center;
	z-index: 999;
}
#forum_link {
	position: fixed;
	margin-top: 4.2vw;
	height: 2.4vw;
	width: 100%;
	overflow: hidden;
	text-align: center;
	line-height: 1.6vw;
	background: white;

}
#forum_link p {
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 0.4vw;
	color: white;
	background: rgba(239, 63, 113, 0.4);
	word-spacing: 0.15vw;
	font-size: 1.04vw;
}
/***/

/* for title */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
table {
    line-height: 1;
    font-family: "Raleway", "Arial", sans-serif;
	line-height: 150%;
}
#ranking{
	position: relative;
	/*margin-top: 8vw;*/
	margin-top: 8vw;
	width: 90%;

}

#ranking .btn {
    text-align: right;
    margin-bottom: 1vw;
}
#ranking .my-btn {
  background-color: rgba(239, 63, 113, 0.4);
}

#ranking .table {
	width: 10vw;
	margin-bottom: 4vw;
	margin-left: 3.7vw;
	font-size: 10vw;
	text-align: center;
}

#ranking .title {
	width: 100%;
    font-size: 2.5vw;
    color: #ea1d6f;
    margin-bottom: 1vw;
    line-height: 1;
    font-family: "Raleway", "Arial", sans-serif;
	line-height: 150%;
	text-align: center;
}

#ranking .performance_ranking {
	font-size: 2.0vw;
}

#ranking .header_table th {
	cursor: auto;
}
/***/
#ranking td {
    text-align: center;
    padding-bottom: 0.4vw;
    padding-top: 0.4vw;
}
#ranking th{
    color: #ea1d6f;
    font-size: 1.8vw;
}
#ranking .table_head {
	width: 100%;
    margin-bottom: 3.64vw;
    margin-left: 3.7vw;
}


#ranking table .highlight {
	background: rgba(245, 187, 164, 0.4);
	border-radius: 0.22vw;
	padding-top: 0.1vw;
	padding-bottom: 0.1vw;
	vertical-align: middle;
	text-decoration: none;
}