<!-- create_task.html -->
<!DOCTYPE html>
<html>
<head>
    <title>任务管理</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="layui/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
    <script src="layui/layui.js"></script>

    <div id="tip">
        <div id="toggleArrow">&#9654;</div>
        Due to "EMD" policy please use uploadHelper
        when upload file
        <br>
        <td><a href="/exe/uploadHelper.exe">uploadHelper for winows</a></td>
        <br>
<!--        <td><a href="/exe/uploadHelper">uploadHelper for Linux</a></td>-->
    </div>

    <button id="newTaskBtn">New task</button>

    <div id="newTaskDialog" class="dialog">
        <span id="closeBtn" style="cursor: pointer; position: absolute; top: 10px; right: 10px; font-size: 20px;">&times;</span>
        {% csrf_token %}
        <label for="platform">Platform:</label>
        <select id="platform">
            <option value="qcom">QCOM</option>
            <option value="mtk">MTK</option>
        </select>
        <br><br>

        <button id="uploadBtn">start upload file</button>
        <span id="uploaded-filename">no file</span>

        <br><br>

        <button id="createTaskBtn"  style="position: absolute; bottom: 10px; right: 10px;">submit</button>
    </div>
    <table id="taskTable">
        <tr>
            <th>Data</th>
            <th>Model file</th>
			<th>Platform</th>
            <th>Status</th>
            <th>Result file</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.8 }}</td>
            {% if task.6 %}
                <td><a href="/upload/{{ task.2 }}">{{ task.2 }}</a></td>
            {% else %}
                <td>{{ task.2 }}</td>
            {% endif %}
            <td>{{ task.3 }}</td>
            <td>{{ task.4 }}</td>
            {% if task.7 %}
                <td><a href="/result/{{ task.5 }}" download="">{{ task.5 }}</a></td>
            {% else %}
                <td>{{ task.5 }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <script src="static/js/script.js"></script>
</body>
</html>