<!-- create_task.html -->
<!DOCTYPE html>
<html>
<head>
    <title>任务管理</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="layui/css/layui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>

    <script src="layui/layui.js"></script>
<!--    <nav>-->
<!--        <ul class="right_bar">-->
<!--            <a href="/exe/uploadHelper.exe"> <img style="width: 7.5vw; margin-top: 1.07vw; position: fixed; margin-left: -9.5vw;" src="static/media/download.png"> </a>-->
<!--        </ul>-->

<!--        <div id="forum_link">-->
<!--            <a href="tips">-->
<!--            <p>-->
<!--                Due to EDM policy, please use uploadHelper which can download on the right corner when upload file <span style="color: rgba(123, 142, 210, 1.0); font-weight: 700;">How to upload</span></span>-->
<!--            </p>-->
<!--            </a>-->
<!--        </div>-->

<!--    </nav>-->
<div class="content">
    <div class="top">
        <div class="block_left"></div>
        <div class="layui-bg-gray block_right" style="padding: 16px;">
          <div class="layui-row layui-col-space15">
            <div class="layui-col-md6">
              <div class="layui-card">
                <div class="layui-card-header" style="text-align: center;font-weight: bold;">device</div>
                <div class="layui-card-body">
                    <button type="button" class="device_button layui-btn layui-btn-radius" onclick="refreshPage()">check</button>
                    <table class="layui-table" lay-skin="line">
                        <thead>
                            <tr>
                                <th>status</th>
                                <th>name</th>
                                <th>device id</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in devices %}
                                <tr>
                                    {% if item.status %}
                                    <td><i class="layui-icon layui-icon-success" style="color:#4CAF50"></i></td>
                                    {% else %}
                                    <td><i class="layui-icon layui-icon-error" style="color:#E64A19"></i></td>
                                    {% endif %}
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.number }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
            <div class="layui-col-md6 backend_card">
              <div class="layui-card">
                <div class="layui-card-header" style="text-align: center;font-weight: bold;">backend</div>
                <div class="layui-card-body">
                  snpe: {{ check_backend.snpe|join:", " }}<br>
                  qnn: {{ check_backend.qnn|join:", " }}
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>
    </div>
<!--        <div class="device">-->
<!--        <button type="button" class="device_button layui-btn layui-btn-radius" onclick="refreshPage()">check</button>-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <th>status</th>-->
<!--                    <th>name</th>-->
<!--                    <th>device id</th>-->
<!--                </tr>-->
<!--                {% for item in devices %}-->
<!--                    <tr>-->
<!--                        {% if item.status %}-->
<!--                        <td><i class="layui-icon layui-icon-success" style="color:#4CAF50"></i></td>-->
<!--                        {% else %}-->
<!--                        <td><i class="layui-icon layui-icon-error" style="color:#E64A19"></i></td>-->
<!--                        {% endif %}-->
<!--                        <td>{{ item.name }}</td>-->
<!--                        <td>{{ item.number }}</td>-->
<!--                    </tr>-->
<!--                {% endfor %}-->
<!--            </table>-->
<!--        </div>-->
<!--        <div class="backend">-->
<!--            <div class="layui-tab layui-tab-card">-->
<!--              <ul class="layui-tab-title">-->
<!--                <li class="layui-this">snpe</li>-->
<!--                <li>qnn</li>-->
<!--              </ul>-->
<!--              <div class="layui-tab-content">-->
<!--                <div class="layui-tab-item layui-show">-->
<!--                     {{ check_backend.snpe|join:", " }}-->
<!--                </div>-->
<!--                <div class="layui-tab-item">-->
<!--                     {{ check_backend.qnn|join:", " }}-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

    <div id="ranking">

        <div class="title">
            <th class="performance_ranking" style="vertical-align: top;">Task List</th>
        </div>

<!--        <button id="newTaskBtn">New task</button>-->
<!--        <div class="btn">-->
<!--            <button id="newTaskBtn" type="button" class="layui-btn layui-bg-pink my-btn" style="text-align: right;">New task</button>-->
<!--        </div>-->
<!--        <div id="newTaskDialog" class="dialog">-->
<!--            <span id="closeBtn" style="cursor: pointer; position: absolute; top: 10px; right: 10px; font-size: 20px;">&times;</span>-->
<!--            {% csrf_token %}-->
<!--            <label for="platform">Platform:</label>-->
<!--            <select id="platform">-->
<!--                <option value="qcom">QCOM</option>-->
<!--                <option value="mtk">MTK</option>-->
<!--            </select>-->
<!--            <br><br>-->

<!--            <button id="uploadBtn">start upload file</button>-->
<!--            <span id="uploaded-filename">no file</span>-->

<!--            <br><br>-->

<!--            <button id="createTaskBtn"  style="position: absolute; bottom: 10px; right: 10px;">submit</button>-->
<!--        </div>-->

        <div id="newTaskDialog" class="layui-form dialog" action="">
            <span id="closeBtn" style="cursor: pointer; position: absolute; top: 2px; right: 5px; font-size: 20px;">&times;</span>
            <div class="layui-inline">
              <label class="layui-form-label">platform</label>
              <div class="layui-input-inline">
                <select id="platform" name="modules" lay-verify="required" lay-search>
                  <option value="">select or type search</option>
                  <option value="qcom 8450">qcom 8450</option>
                  <option value="mtk 6889">mtk 6889</option>
                </select>
              </div>
            </div>

          <div style="margin-top: 1vw">
            <button id="uploadBtn" type="button" class="layui-btn" >start upload file</button>
            <span id="uploaded-filename">no file</span>
          </div>

          <div class="layui-form-item" style="margin-top: 1vw">
            <div class="layui-input-block">
              <button id="createTaskBtn" class="layui-btn" lay-submit lay-filter="demo1">submit</button>
            </div>
          </div>
        </div>

        <table class="table_head">
            <tr>
                <th class="highlight" style="width: 10%; font-size: 1.1vw; text-align: center">Date</th>
                <th class="highlight" style="width: 10%; font-size: 1.1vw; text-align: center">Model</th>
                <th class="highlight" style="width: 10%; font-size: 1.1vw; text-align: center">Platform</th>
                <th class="highlight" style="width: 10%; font-size: 1.1vw; background-color: rgba(111, 234, 108, 0.12); text-align: center">status</th>
                <th class="highlight" style="width: 10%; font-size: 1.1vw; text-align: center">result</th>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task.8 }}</td>
                {% if task.6 %}
                    <td><a href="/upload/{{ task.2 }}" style="color: rgba(123, 142, 255, 2.0)">{{ task.2 }}</a></td>
                {% else %}
                    <td>{{ task.2 }}</td>
                {% endif %}
                <td>{{ task.3 }}</td>
                <td>{{ task.4 }}</td>
                {% if task.7 %}
                    <td><a href="/result/{{ task.5 }}" style="color: rgba(123, 142, 255, 2.0)">{{ task.5 }}</a></td>
                {% else %}
                    <td>{{ task.5 }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <table id="taskTable">

        </table>
    </div>
</div>
<!--    <div id="tip">-->
<!--        <div id="toggleArrow">&#9654;</div>-->
<!--        Due to "EMD" policy please use uploadHelper-->
<!--        when upload file-->
<!--        <br>-->
<!--        <td><a href="/exe/uploadHelper.exe">uploadHelper for winows</a></td>-->
<!--        <br>-->
<!--&lt;!&ndash;        <td><a href="/exe/uploadHelper">uploadHelper for Linux</a></td>&ndash;&gt;-->
<!--    </div>-->


    <script src="static/js/script.js"></script>
</body>
</html>