<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload 页面</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: left;
    }
    .title {
      margin-top: 20px;
      font-size: 24px;
    }
    .image-container {
      margin-top: 10px;
      max-width: 500px;
    }
    .image-container img {
      max-width: 100%;
      max-height: 400px;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="title">Download uploadHelper</div>
  <div class="image-container">
    <img src="static/media/download_image.png" alt="Download Image">
  </div>

  <div class="title">New task-->start upload file</div>
  <div class="image-container">
    <img src="static/media/upload_file_image.png" alt="Upload File Image">
  </div>

  <div class="title">run uploadHelper,select a file, and submit,then wait a minute file name will show here</div>
  <div class="image-container">
    <img src="static/media/run_uploadHelper_image.png" alt="Run uploadHelper Image">
  </div>
</body>
</html>
